# LIST

List is an ordered sequence of items.

<br>

The most used datatype in Python.

<br>

All the iteams in a list do not need to be of the same type.

## Examples

In [1]:
# Creating a list

int_list = [500,30,1000,25,10]         # Only integers

str_list = ['Hello Everyone', 'this is', 'a string list']        # Only Strings

int_and_str_list = ['Hello', 500, 'this is', 30.45554, 'calling']

print(int_list)
print(str_list)
print(int_and_str_list)

[500, 30, 1000, 25, 10]
['Hello Everyone', 'this is', 'a string list']
['Hello', 500, 'this is', 30.45554, 'calling']

In [2]:
print(type(int_list))
print(type(str_list))
print(type(int_and_str_list))

<class 'list'>
<class 'list'>
<class 'list'>

In [3]:
type(int_list)

list

In [4]:
type(str_list)

list

In [5]:
type(int_and_str_list)

list

## Conversion from one data type to another

In [6]:
a = 20              # interger => float

In [7]:
float(a)

20.0

In [8]:
b = 200.345              # float => int

In [9]:
int(b)

200

In [15]:
str(b)

'200.345'

In [11]:
str(a)

'20'

In [16]:
c = "TotalDataScience"

In [17]:
int(c)                           # This can not change into integer because this is not a no.

ValueError: invalid literal for int() with base 10: 'TotalDataScience'

In [22]:
d = "7447360900"
d

'7447360900'

In [23]:
type(d)

str

In [24]:
int(d)                      # Only No. "str" convert into "int"

7447360900

In [26]:
e = a + b
e

220.345

In [27]:
type(e)

float

In [28]:
int(e)

220

In [29]:
str(e)

'220.345'

In [30]:
# List of lists

list_of_lists = [[1,2,3], [4,5,6], [7,8,9]]
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
print(list_of_lists [0])

[1, 2, 3]

In [32]:
print(list_of_lists [1])

[4, 5, 6]

In [33]:
print(list_of_lists [0])
print(list_of_lists [2])

[1, 2, 3]
[7, 8, 9]

# Working On List

Indexing & Slicing

In [34]:
tds = ['T','O','T','A','L','D','A','T','A','S','C','I','E','N','C','E']
print(tds)                 
                          # After writen print it's show output in horizontal list

['T', 'O', 'T', 'A', 'L', 'D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [36]:
tds                                   # completed this code that's way the output in """out"""

['T',
 'O',
 'T',
 'A',
 'L',
 'D',
 'A',
 'T',
 'A',
 'S',
 'C',
 'I',
 'E',
 'N',
 'C',
 'E']

Let's perform some slicing below

In [45]:
tds[0]                                # start fornt => positive indexing
                                      # start back => negative indexing

'T'

In [38]:
tds[-1]

'E'

In [43]:
tds[5], tds[10]                     # This is the used for 2 or more than 2 indexing

('D', 'C')

In [44]:
tds[5]
tds[10]                            # It's show in the only index 10 not 5.

'C'

In [39]:
print(tds[9])                      # this also used for multiple indexing
print(tds[-7])

S
S

In [40]:
tds[5:9]                                    # In this 5:9 means   {  5, 6, 7, 8  }    not contain nine,9          
                                            # this is used for the range of the indexing or the in between them.

['D', 'A', 'T', 'A']

In [46]:
tds[5:-1]                                       # {   5, 6, 7, 8, 9, 10, 11, 12, 13, 14,  }

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C']

In [52]:
tds[-1:-7]

[]

In [53]:
tds[-1:-8]                       # In this the output shows [] that's the reason is this sequences is not applied.

[]

In [55]:
tds[-8:-1]

['A', 'S', 'C', 'I', 'E', 'N', 'C']

In [56]:
tds[-7:-1]

['S', 'C', 'I', 'E', 'N', 'C']

In [58]:
tds[-7:0]

[]

In [59]:
tds[-11:-7]                   # It's show the correct result, means the secuence is start to end the list. 
                              # that's way the indexing is no matter is neative or positive but it should in the start is front of list.

['D', 'A', 'T', 'A']

In [60]:
tds[::2]                      # Every 2nd element is print

['T', 'T', 'L', 'A', 'A', 'C', 'E', 'C']

In [63]:
tds[::1]

['T',
 'O',
 'T',
 'A',
 'L',
 'D',
 'A',
 'T',
 'A',
 'S',
 'C',
 'I',
 'E',
 'N',
 'C',
 'E']

In [62]:
print(tds[::1])

['T', 'O', 'T', 'A', 'L', 'D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [64]:
tds[::3]                             # Every 3rd element is print

['T', 'A', 'A', 'S', 'E', 'E']

In [67]:
tds[::4]

['T', 'L', 'A', 'E']

In [68]:
tds[:1]

['T']

In [69]:
tds[:2]

['T', 'O']

In [70]:
tds[:3]

['T', 'O', 'T']

In [72]:
tds[:6]                         # this is equal to [  0:6  ]      {  0, 1, 2, 3, 4, 5  }

['T', 'O', 'T', 'A', 'L', 'D']