## Splitting the Data

In [1]:
name = 'Chris Arthur Jhonson'.split(' ')              # Splitting each word using the spaces inbetween them

job = 'Somiron Data Scientist at Microsoft'.split(' ')     # splitting each word using the spaces inbetween them

print(name)

print(job)

['Chris', 'Arthur', 'Jhonson']
['Somiron', 'Data', 'Scientist', 'at', 'Microsoft']

In [2]:
total_all = 'TOTAL,DATA,SCIENCE'.split(',')

In [3]:
total_all

['TOTAL', 'DATA', 'SCIENCE']

In [10]:
total = "Prajwal".split()
print(total)

['Prajwal']

In [11]:
names = ['Jhon', 'Chris', 'Modi', 'Megha', 'Simran', 'Chris', 'Josh', 'Arti', 'Jhon', 'Chris']

In [12]:
names.count('Chris')                       #Count how many chris are there in total.

3

In [13]:
names.index('Chris')                     # find the index at which the first Jhon is encountered

1

In [14]:
names.reverse()                      # reverses the whole list

In [16]:
print(names)

['Chris', 'Jhon', 'Arti', 'Josh', 'Chris', 'Simran', 'Megha', 'Modi', 'Chris', 'Jhon']

In [17]:
names.append("Pallavi")     # append() Adds an item to the list.
names

['Chris',
 'Jhon',
 'Arti',
 'Josh',
 'Chris',
 'Simran',
 'Megha',
 'Modi',
 'Chris',
 'Jhon',
 'Pallavi']

In [18]:
names.append("Pallavi")
print(names)

['Chris', 'Jhon', 'Arti', 'Josh', 'Chris', 'Simran', 'Megha', 'Modi', 'Chris', 'Jhon', 'Pallavi', 'Pallavi']

In [19]:
names.pop()           # pop.([i]) Removes the item at the given position in the list, and return it. If no index is specified, a.Pop() remove and returns the last item in the list.

'Pallavi'

In [20]:
names.pop(3)

'Josh'

In [21]:
print(names)

['Chris', 'Jhon', 'Arti', 'Chris', 'Simran', 'Megha', 'Modi', 'Chris', 'Jhon', 'Pallavi']

In [26]:
names.sort()            # Sort the items of the list in place
names

['Arti',
 'Chris',
 'Chris',
 'Chris',
 'Jhon',
 'Jhon',
 'Megha',
 'Modi',
 'Pallavi',
 'Simran']

In [27]:
print(names)                   # Sort means that is in A to Z format.

['Arti', 'Chris', 'Chris', 'Chris', 'Jhon', 'Jhon', 'Megha', 'Modi', 'Pallavi', 'Simran']

In [28]:
new_names = names.copy()
new_names                                 # Change

['Arti',
 'Chris',
 'Chris',
 'Chris',
 'Jhon',
 'Jhon',
 'Megha',
 'Modi',
 'Pallavi',
 'Simran']

In [30]:
print(new_names)

['Arti', 'Chris', 'Chris', 'Chris', 'Jhon', 'Jhon', 'Megha', 'Modi', 'Pallavi', 'Simran']