# DATA TYPES

## Numerical

#### Examples

'#' is used for commenting use single '#' to comment a single line of press "ctrl+shift+/" to comment multiple lines 
<br>NB: Commented lines are for personal use or benifits to

In [65]:
# creating variables 

my_variables_1 = 10

my_variables_2 = 10.5

my_variables_3 = 15j

my_variables_4 = "Total Data Science"

my_bool = True

In [66]:
print("The data type of my_variables_1 is:", type(my_variables_1))

print("The data type of my_variables_2 is:", type(my_variables_2))

print("The data type of my_variables_3 is:", type(my_variables_3))

print("The data type of my_variables_4 is:", type(my_variables_4))

print("The data type of my_bool is:", type(my_bool))

The data type of my_variables_1 is: <class 'int'>
The data type of my_variables_2 is: <class 'float'>
The data type of my_variables_3 is: <class 'complex'>
The data type of my_variables_4 is: <class 'str'>
The data type of my_bool is: <class 'bool'>

In [67]:
print(my_variables_1)

10

In [68]:
type(my_variables_1)

int

In [69]:
print(my_variables_2)

type(my_variables_2)                         # The No. is in decimal it is known as float

10.5

float

In [70]:
print(my_variables_3)

type(my_variables_3)

15j

complex

In [71]:
print(my_variables_4)

type(my_variables_4)

Total Data Science

str

In [72]:
print(my_bool)

type(my_bool)

True

bool

Guess the data types of the following

In [73]:
a = 7000.4546
b = 800000 + 3445.7889
c = "23455"

# d = "23455" + 400.68

e = 'class 2019' + 'class2020'
f = 'Total'+" "+'Data Science'

In [74]:
a = 7000.4546
a

7000.4546

In [75]:
type(a)

float

In [76]:
b = 800000 + 3445.7889
b                                            # After Run the program shows the result in """out""" it's mininig is the program is fully completed.

803445.7889

In [77]:
type(b)

float

In [78]:
c = "23455"
c                          # mostly """out""" show in which is not given the print command. like that this program.

'23455'

In [79]:
type(c)                         # "Type" function allways show """out"""

str

In [80]:
#d = "23455" + 400.68                   # It is a comment that's reason it's not show the result/output after Run.

In [81]:
d = "23455" + 400.68                        # In this 1st is string and 2nd is Number that's reason it's show error.

TypeError: can only concatenate str (not "float") to str

In [ ]:
d = 23455 + 400.68

In [ ]:
d

In [ ]:
d
type(d)

In [ ]:
print(d)
type(d)

In [ ]:
e = 'class 2019' + 'class 2020'
e

In [ ]:
type(e)

In [ ]:
f = 'Total' + 'Data Science'
f

In [ ]:
f = 'Total' + " " + 'Data Science'
f

In [ ]:
type(f)

Accept user inputs

In [ ]:
# Squares


number = input("Enter a number")
square = int(number)**2
square

In [ ]:
#Cubes


number = input("Enter a number")
cube = int(number)**3
cube

In [ ]:
# Additions


number = input("Enter a number")
addition = int(number)+200
addition

In [ ]:
# Substractions


number = input("Enter a number")
substraction = int(number)-200
substraction

In [ ]:
# Multiply

number = input("Enter a number")
multiply = int(number)*5
multiply

In [ ]:
# Divided

number = input("Enter a number")
divided = int(number)/5
divided

In [ ]:
# Square_Roots

number = input("Enter a number")
square_root = int(number)**0.5
square_root

In [ ]:
# Cube_Roots


number = input("Enter a number")
cube_root = int(number)**(1/3)
cube_root

# Other Method's

In [ ]:
# For Square_Roots

number = int(input("Enter a number"))
square_root = (number)**0.5
print("square root:", square_root)

In [ ]:
# For Square_Roots

import math 
number = int(input("Enter a number:"))
sqrt = math.sqrt(number)
print("square root:", sqrt)

In [ ]:
import math
number = int(input("Enter a number"))
square_root = math.square_root(number)
print("square root:", square_root)                    # Used only "sqrt" not "square_root" otherwise it show error like this code.

In [ ]:
import math
number = int(input("Enter a number"))
sqrt = math.sqrt(number)
print("square root:", sqrt)

In [ ]:
import math
number = int(input("Enter a number"))
cuberoot = math.cuberoot(number)
print("cube root:", cuberoot)                         # It's not usefull for cube_roots.

In [ ]:
import math
number = int(input("Enter a number"))
curt = math.curt(number)
print("cube root:", curt)

# Easiest way :

In [ ]:
def cube_root(x):
    return x**(1/3)
print(cube_root(27))

In [ ]:
def square_root(x):
    return x**(1/2)
print(square_root(64))

In [ ]:
def square(x):
    return x**2
print(square(6))

In [ ]:
def cube(x):
    return x**3
print(cube(5))

In [ ]:
def (x):
    return x**2
print(10)

In [ ]:
def a(x):
    return x**2
print(a(10))

In [ ]:
def a(x):
    return x**4
print(a(2))

In [ ]:
def a(x):
    return x**2
a(5)

In [ ]:
def a(x):
    return x+2
a(10)

In [ ]:
def a(x):
    return x*2
print(a(10))

# It's Very Simple Code

In [ ]:
a = 125
print(a**(1/3))

In [ ]:
a = 125
a**(1/3)

In [ ]:
a = 5
print(a**2)