# Dictionary

Collection of items which is unordered, changeable and indexed. Written with curly brackets. They have **keys and values.**

In [1]:
dictionary = {"name": "Ashutosh", "age": 30, "profession":'data scientist'}
print(dictionary)


                          # key => "name"    &    value => "Ashutosh"

{'name': 'Ashutosh', 'age': 30, 'profession': 'data scientist'}

In [11]:
# Convert from a dictionary to a dataframe

data = {'Name': ['James','Khan','Ramesh', 'Ike'], 'Age':[30,14,22,44]}

In [12]:
data

{'Name': ['James', 'Khan', 'Ramesh', 'Ike'], 'Age': [30, 14, 22, 44]}

In [13]:
pd.DataFrame.from_dict(data)

     Name  Age
0   James   30
1    Khan   14
2  Ramesh   22
3     Ike   44

In [21]:
Friends = {'Name': ['Aniket','Pankaj','Rohit','Mohit','Rakesh','Chetan','Varun','Riya','Priya','Pranju','Jiya','shiv','sonali','Monali'], 'Age': [20,21,22,21,23,21,22,20,21,19,30,15,23,24], 'Gender': ['Male','Male','Male','Male','Male','Male','Male','Female','Female','Female','Female','Male','Female','Female']}

In [22]:
print(Friends)

{'Name': ['Aniket', 'Pankaj', 'Rohit', 'Mohit', 'Rakesh', 'Chetan', 'Varun', 'Riya', 'Priya', 'Pranju', 'Jiya', 'shiv', 'sonali', 'Monali'], 'Age': [20, 21, 22, 21, 23, 21, 22, 20, 21, 19, 30, 15, 23, 24], 'Gender': ['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female']}

In [23]:
pd.DataFrame.from_dict(Friends)

      Name  Age  Gender
0   Aniket   20    Male
1   Pankaj   21    Male
2    Rohit   22    Male
3    Mohit   21    Male
4   Rakesh   23    Male
5   Chetan   21    Male
6    Varun   22    Male
7     Riya   20  Female
8    Priya   21  Female
9   Pranju   19  Female
10    Jiya   30  Female
11    shiv   15    Male
12  sonali   23  Female
13  Monali   24  Female