# DataFrames

Two-dimensional, size-mutable, potentially heterogeneous tabular data.

<br>

Data structure also containsn labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dick-like container for Series objects. The primary pandas data structure.

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.randn(10,5)                               #  "10*5"     10 Rows & 5 columns

array([[-0.70649787,  1.1703065 ,  0.06497714,  1.48046644,  0.7749032 ],
       [-0.35182017, -0.1511506 , -0.10910591, -0.2046725 , -0.34198765],
       [-0.3103071 , -0.03810963,  0.64677555, -0.69730437,  1.44049477],
       [-1.14706673,  0.88195943,  1.02917859, -1.4739931 , -0.84003063],
       [-0.36232673, -0.92027963, -0.56221071,  0.22287864, -0.34959803],
       [-1.18619561,  0.32499186, -0.80196517,  0.06560252, -0.79488194],
       [-0.03892196, -0.87902649,  2.37666536,  0.96079661,  0.57708854],
       [ 0.42485626,  0.92715396,  1.32077727, -0.08223325, -1.02712196],
       [ 1.6632496 , -0.17489988,  0.7644345 ,  0.07465041,  0.02892526],
       [-1.3237321 ,  0.540644  , -0.34883775, -1.29366132, -0.97082973]])

In [7]:
my_dataframe = pd.DataFrame(np.random.randn(10,5),index='row1 row2 row3 row4 row5 row6 row7 row8 row9 row10'.split(), columns='column1 column2 column3 column4 column5'.split())

In [8]:
my_dataframe

        column1   column2   column3   column4   column5
row1  -0.368133  2.249099 -0.140444 -0.552574  0.012193
row2  -1.221555  0.707709  0.086960 -1.115433 -0.021542
row3   0.754860 -0.767320  0.599625 -0.035576  0.348754
row4  -0.036911 -0.436387 -0.540234  1.866099 -1.658117
row5   2.938666 -0.197155  1.480282  0.653676 -1.570708
row6   0.636236  1.264573  0.477637 -1.516430  0.742476
row7   1.362473  0.410240  2.084366  0.219196 -2.468919
row8   1.191556 -0.671468  0.452619  1.296798 -0.222210
row9   1.504777 -0.813249  1.235534 -0.292836  0.635495
row10  0.498502 -1.127285 -1.357911 -1.185511 -0.403731

In [9]:
f

pandas.core.series.Series

In [11]:
type(my_dataframe)                          # And the total series contain in all they known as dataframe.

pandas.core.frame.DataFrame