# PYTHON FOR DATA SCIENCE

### Pandas

One-dimensional ndarray with axis labels(including time series)

<br>
The object support both integer- and label-based indexing and provides a host of methods for performinig operation involving the index. If there are no matching labels during alignment, pandas return **NaN (not any number)** so that the operation does not fail.

<br>

The name is derived from thr term "panel data", an econometrics term for data sets that include observations over multiple time periods for the same individuals.

<br>

### Assignment: Different between Series and Array

In [1]:
# imports Libraries

import pandas as pd
import numpy as np

In [4]:
# pd.Series?                                # This used to know about in pandas.

**Series** is a one-dimensional labeled array capable of holding data of any type(integer, string, float, python object,etc)

<br>

**Dataframe** is a two_dimensional labeled array capable of holding data of any type(integer, string, float, python object, etc.)

<br>

You can see it as **Series** beging a one-dimensional labeled array while **DataFrame** is a group of series.

In [5]:
my_pets = ['Lion',"Cat", 'Birds','Fish']
my_pets

['Lion', 'Cat', 'Birds', 'Fish']

In [7]:
pd.Series(my_pets)              # Converting our list to Series object with indexes

0     Lion
1      Cat
2    Birds
3     Fish
dtype: object

### We can create our owns index

In [8]:
my_days = ['Monday','Tuesday','Wednesday','Thursday','Friday']

In [9]:
my_courses = ['Economics','Geography','Finance','Mathematics','History']

In [11]:
pd.Series(my_days)

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
dtype: object

In [10]:
pd.Series(my_courses, index=my_days)

Monday         Economics
Tuesday        Geography
Wednesday        Finance
Thursday     Mathematics
Friday           History
dtype: object

In [12]:
my_days1 =['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

In [13]:
pd.Series(my_courses, index=my_days1)               # Gives error because the length of the values ara not the same as length of the index.

ValueError: Length of passed values is 5, index implies 6.

In [14]:
my_courses1 = ['Economics','Gwography','Finance','Mathematics','History','Science']

In [15]:
pd.Series(my_courses1, index=my_days1)            # Now its sames

Monday         Economics
Tuesday        Gwography
Wednesday        Finance
Thursday     Mathematics
Friday           History
Saturday         Science
dtype: object

In [18]:
days = pd.Series(['Monday','Tuesday','Wednesday','Thursday','Friday'],index =['Day1','Day2','Day3','Day4','Day5'])
days

Day1       Monday
Day2      Tuesday
Day3    Wednesday
Day4     Thursday
Day5       Friday
dtype: object

In [21]:
courses = pd.Series(['Economics','Geography','Finance','Mathematics','History'],index='Day1 Day2 Day3 Day4 Day5'.split())
                                     
courses                                     # You can aslo use split finction.

Day1      Economics
Day2      Geography
Day3        Finance
Day4    Mathematics
Day5        History
dtype: object

In [22]:
courses = pd.Series(['Economics','Geography','Finance','Mathematics','History'],index='Day1 Day2 Day3 Day4 Day5')

courses                                              # It's showing error because you are not using split Function

TypeError: Index(...) must be called with a collection of some kind, 'Day1 Day2 Day3 Day4 Day5' was passed

In [25]:
courses = pd.Series(['Economics','Geography','Finance','Mathematics','History'],index='Day1,Day2,Day3,Day4,Day5'.split(','))

courses                                     # You can also used in a place of "," split function.

Day1      Economics
Day2      Geography
Day3        Finance
Day4    Mathematics
Day5        History
dtype: object

In [26]:
days + courses                       # Addition (concatenation) based on index

Day1        MondayEconomics
Day2       TuesdayGeography
Day3       WednesdayFinance
Day4    ThursdayMathematics
Day5          FridayHistory
dtype: object

In [27]:
days + ' ' + courses

Day1        Monday Economics
Day2       Tuesday Geography
Day3       Wednesday Finance
Day4    Thursday Mathematics
Day5          Friday History
dtype: object

## NB : Use merge

In [28]:
courses

Day1      Economics
Day2      Geography
Day3        Finance
Day4    Mathematics
Day5        History
dtype: object

In [29]:
courses['Day5']

'History'

In [30]:
courses['Day2']

'Geography'

In [31]:
days

Day1       Monday
Day2      Tuesday
Day3    Wednesday
Day4     Thursday
Day5       Friday
dtype: object

In [32]:
days['Day3']

'Wednesday'

In [33]:
days['Day4']

'Thursday'