# List Comperhension

In [1]:
# Let's say we want to square all the numbers form 0-10, We can writen like the following

squares = []
for x in range(2,50,5):
    squares.append(x**2)                             # Ranges numbers = [2,7,12,17,22,27,32,37,42,47]
squares

[4, 49, 144, 289, 484, 729, 1024, 1369, 1764, 2209]

In [2]:
# We can also create it as simple as the following:

squares = [x**2 for x in range(2,50,5)]        # This is called list comprehension also know as pandorable

squares

[4, 49, 144, 289, 484, 729, 1024, 1369, 1764, 2209]

In [9]:
output = [i for i in range(2,100) if i % 2 == 0]

output                                     # "i % 2 == 0" means In the range any such no. that divisible by 2 there reminder is 0.

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [5]:
Addition = [x+2 for x in range(2,100,5)]

Addition

[4, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 74, 79, 84, 89, 94, 99]

In [7]:
substraction = [x-2 for x in range(2,50,5)]

substraction

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [11]:
output = [i for i in range(1,100) if i % 3 == 0]

output

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [12]:
output = [i for i in range(1,100) if i % 4 == 0]

In [13]:
output

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96]