# SET

A Python set, just like any other set, is an unordered Collection of items.

<br>

It contains unique elements which are immutable.

<br>

The whole set can be muted. That's items can be added to or taken out of the est.

In [1]:
my_set = {1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

In [2]:
my_set1 = {1,2,3,4,5,5,1}                # Duplicates will be ignored
my_set

{1, 2, 3, 4, 5}

In [3]:
my_set1 [0]=7               # Cannot change the elements in the set. It will give us error below.

TypeError: 'set' object does not support item assignment

##### We can use the add() method to add single element and the update() method to add multiple elements. We can add varied parameters to the update() method such as lists, tuples, strings and even other sets.

In [4]:
my_set1.add(7)

In [5]:
my_set1

{1, 2, 3, 4, 5, 7}

## Assignment

In [8]:
my_tuple = ("Helloworld")                     # a tuple

print(my_tuple)

print(set(my_tuple))                         # Converting a tuple to a Set

Helloworld
{'e', 'w', 'l', 'H', 'd', 'o', 'r'}

## Operations on set

### Union :

In [9]:
A = {1,3,5,8,9,10}

B = {2,4,6,7,9,10}

In [10]:
# Performing A Union B

A|B                                # Union means All Element in Sets print only in one time no repeat.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
# Alternatively

A.union(B)                                       # Both are same.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Intersection

In [13]:
print(A & B)                                        # Mean's those element are present in both sets.

{9, 10}

In [14]:
# Alternatively

A.intersection(B)

{9, 10}

### Set Difference

In [15]:
# Elements ONLY in A and NOT in B

A - B

{1, 3, 5, 8}

In [16]:
# Alternatively

A.difference(B)

{1, 3, 5, 8}

### Symmetric Difference

Elements in both A and B without the intersection

In [17]:
print(A ^ B)

{1, 2, 3, 4, 5, 6, 7, 8}